<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Url shortener">
    <meta name="author" content="Anastasiia Lysenko">
    <meta name="keyword" content="short url, url hash, url shortener, link shortener">

    <title>{% block title %}Short url is beauty url{% endblock %}</title>

    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body class="{% block body_class %}app{% endblock %}">
<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-12">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
